body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #fef5f0;
    font-weight: bold;
}

.icon {
    display: flex;
    align-items: baseline;
}

.icon img {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon p {
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
    color: chocolate;
    padding-left: 10px;
}

.navlist {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    list-style-type: none;
}

.navlist li {
    display: inline;
}

a {
    padding: 10px 10px;
    text-decoration: none;
    color: chocolate;
}

.navlist li a:hover {
    background-color: #ddd;
    border-radius: 20px;
    color: red;
}

@media (max-width: 500px) {
    .icon, .navlist {
        margin-left: auto;
        margin-right: auto;
    }
}

.homepage{
    color: white;
    background-color: black;
}

.front {
    margin-top: 145px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.front input {
    padding-left: 20px;
    padding-right: 20px;
    background-color: chocolate;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    height: 40px;
}

.back {
    height: 500px;
    background-position-y: center;
    background-position-x: center;
    background-image: url('./img/es-teler.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 0;
}

.about, .price-list{
    padding: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    margin-bottom: 20px;
    color: chocolate;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

hr {
    width: 50px;
    border: 1px solid chocolate;
}

.about-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-text{
    flex: 50%;
}

.about-text h3{
    margin-top: 0;
}

.about-image {
    display: flex;
    flex: 50%;
    justify-content: center;
}

.about-image img {
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 1180px) {
    .about-content {
        flex-wrap: wrap;
    }
}

.price-list {
    background-color: #fef5f0;
}

table {
    width: 100%;
    font-weight: bold;
}

th {
    background-color: chocolate;
    color: white;
    text-align: left;
}

th, tr, td {
    padding: 10px;
    border: none;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #ddd;
}

.size-cell{
    color: chocolate;
}

.price-cell {
     width: 1fr;
}

@media (max-width: 800px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

footer {
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    background-color: chocolate;
    color: white;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.footer-info, .footer-form {
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 965px) {
    .footer-container {
        text-align: center;
    }
    .footer-info, .footer-form {
        margin: auto;
    }
}

.footer-form{
    width: 50%;
}

@media (max-width: 800px) {
    .footer-form {
        width: 275px;
    }
}

.footer-form input{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.info {
    width: 100%;
}

#tombol {
    width: 100px;
    background-color: #fef5f0;
    color: chocolate;
    font-weight: bold;
}

#tombol:hover {
    background-color: #ddd;
}

footer hr{
    width: 100%;
    border-bottom: 1px solid white;
}

.copyright {
    margin-top: 30px;
    text-align: center;
}